
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #172554;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gradient_color {
    background: linear-gradient(to top, white, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .gradient_color2 {
    background: linear-gradient(to top, blue, orange);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .gradient_color3{
    background: linear-gradient(to right, #90EE90, #32CD32);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .gradient_color_aboutPage{
    background: radial-gradient(circle, red, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .opacity_layer_bg {
    background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #48648c 79.17%);
  }
  .animationBlock1 {
    width: 372.95px;
    height: 257.05px;
    border-radius: 100%;
    left: calc(50% - 372.95px / 2 - 76.53px);
    top: calc(50% - 257.05px / 2 - 47.47px);
    background: linear-gradient(
      123.77deg,
      #8a2be2 -6.46%,
      #ffa500 59.04%,
      #f8f8ff 124.53%
    );
    opacity: 0.2;
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
  }
  .animationBlock2 {
    position: absolute;
    width: 372.95px;
    height: 257.05px;
    left: calc(50% - 372.95px / 2 - 76.53px);
    top: calc(50% - 257.05px / 2 - 47.47px);
    border-radius: 100%;
    background: linear-gradient(
      118.19deg,
      #1fa2ff -3.62%,
      #12d8fa 50.44%,
      #a6ffcb 104.51%
    );
    opacity: 0.2;
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
  }
  .animationBorder {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right bottom, #ffffff38, #ffffff00);
    background: linear-gradient(
      111.93deg,
      rgba(14, 26, 45, 0.24) -1.4%,
      rgba(17, 30, 50, 0.38) 104.96%
    );
    /* backdrop-filter: blur(26px); */
  }

  .homepage_background{
    background : url("../src/assets//Images//bghome.svg")
  }
  .lable-style {
    @apply text-[14px] text-navyblue-50;
  }
  
  .input-style {
    @apply rounded-lg bg-navyblue-800 p-3 text-[16px] leading-[24px] text-white shadow-[0_1px_0_0] shadow-white/30 placeholder:text-navyblue-300 focus:outline-orange-300;
  }
  .section_heading {
    @apply text-2xl font-bold text-navyblue-50 lg:text-4xl;
  }
  /* SIDEBAR */
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2px);
    }
    100% {
      transform: translateY(0) ;
    }
  }
  /* Buttons */
.yellowButton {
  @apply cursor-pointer rounded-md bg-yellow-50 px-[20px] py-[8px] font-semibold text-richblack-900 hover:bg-black hover:text-yellow-50 duration-300;
}

.blackButton {
  @apply cursor-pointer rounded-md bg-richblack-800 px-[20px] py-[8px] font-semibold text-richblack-5 hover:bg-richblack-5 hover:text-richblack-800 duration-300;
}
  
  .hover-float:hover {
    animation: float 1s ease-in-out infinite;
  }

  .font-boogaloo {
    font-family: 'Boogaloo', cursive;
  }
  .glass-bg {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(88,88,215,1) 100%, rgba(0,212,255,1) 100%);
  }

  /******************* Spinner ******************/
  
  .lds-hourglass {
    /* change color here */
    color: #f47e60
  }
  .lds-hourglass,
  .lds-hourglass:after {
    box-sizing: border-box;
  }
  .lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }


  /* ////******************************Hi theme********************* */
    /* SIDEBAR */
    @keyframes themeHi {
      0% {
        transform: rotate(0deg);
      }
      10% {
        transform: rotate(14deg);
      }
      20% {
        transform: rotate(-8deg);
      }
      30% {
        transform: rotate(14deg);
      }
      40% {
        transform: rotate(-4deg);
      }
      50% {
        transform: rotate(10deg);
      }
      60% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
    .themeHi {
      display: inline-block; /* Ensure it's inline-block to apply transform */
      animation: themeHi 2s infinite; /* 1s duration, infinite repeat */
    }
